framework:
    charset:       UTF-8
    error_handler: null
    csrf_protection:
        enabled: true
        secret: xxxxxxxxxx
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, annotations: true }
    templating:    { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: en
        lifetime:       3600
        auto_start:     true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

behat: ~

doctrine_mongo_db:
  default_database: symfony_prod
  auto_generate_hydrator_classes: true
  mappings:
    HelloBundle: ~

## Doctrine Configuration
#doctrine:
#   dbal:
#       dbname:   xxxxxxxx
#       user:     xxxxxxxx
#       password: ~
#       logging:  %kernel.debug%
#   orm:
#       auto_generate_proxy_classes: %kernel.debug%
#       mappings:
#           HelloBundle: ~

## Swiftmailer Configuration
#swiftmailer:
#    transport:  smtp
#    encryption: ssl
#    auth_mode:  login
#    host:       smtp.gmail.com
#    username:   xxxxxxxx
#    password:   xxxxxxxx
